/* =====================
   RESET BÁSICO
===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =====================
     BASE DO DOCUMENTO
  ===================== */
html,
body {
  width: 100%;
  height: 100%;
}

/* =====================
     ESTILO GLOBAL
  ===================== */
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #000;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* =====================
     ELEMENTOS PADRÃO
  ===================== */
button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}
